@tailwind base;
@tailwind components;
@tailwind utilities;

.node-visited {
  border-color: #33c3ad;
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #2eb39f;
    border-radius: 100%;
  }

  50% {
    background-color: #37ceb7;
  }

  75% {
    transform: scale(1.2);
    background-color: #4fffe4;
  }

  100% {
    transform: scale(1);
    background-color: #43d8c2;
  }
}

.node-wall {
  background-color: #401717 !important;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: #ffe175;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.node-start {
  background-color: #9dff69 !important;
  cursor: pointer;
}

.node-end {
  background-color: #ff5c5c !important;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
